<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.model">
    <!-- 获取登录接口case -->
    <select id="loginCase" parameterType="Integer" resultType="com.code.model.LoginCase">
        select * from loginCase where id=#{id}
    </select>
    <!-- 添加用户接口case -->
    <select id="addUserCase" parameterType="Integer" resultType="com.code.model.AddUserCase">
        select * from addUserCase where id = #{id}
    </select>
    <!-- 获取用户信息case -->
    <select id="getUserInfoCase" parameterType="Integer" resultType="com.code.model.GetUserInfoCase">
        select * from getUserInfoCase where id = #{id}
    </select>
    <!-- 获取用户列表case -->
    <select id="getUserListCase" parameterType="Integer" resultType="com.code.model.GetUserListCase">
        select * from getUserListCase where id = #{id}
    </select>
    <!-- 更新/删除用户case -->
    <select id="updateUserInfoCase" parameterType="Integer" resultType="com.code.model.UpdateUserInfoCase">
        select * from updateUserCase where id = #{id}
    </select>

    <!--查询新添加的用户-->
    <select id="getAddUser" parameterType="com.code.model.AddUserCase" resultType="com.code.model.User">
        select * from user
        <where>
            <if test='null != userName and "" !=userName'>
                AND userName=#{userName}
            </if>
            <if test='null != password and "" !=password'>
                AND password=#{password}
            </if>
            <if test='null != sex'>
                AND sex=#{sex}
            </if>
            <if test='null != age'>
                AND age=#{age}
            </if>
            <if test='null != permission'>
                AND permission=#{permission}
            </if>
            <if test='null != isDelete'>
                AND isDelete=#{isDelete}
            </if>
        </where>
    </select>
    <!--获取用户列表-->
    <select id="getUserList" parameterType="com.code.model.GetUserListCase" resultType="com.code.model.User">
        <!-- SQL语句 -->
        select * from user
        <where>
            <if test='null != userName and "" !=userName'>
                AND userName=#{userName}
            </if>
            <if test='null != sex'>
                AND sex=#{sex}
            </if>
            <if test='null != age'>
                AND age=#{age}
            </if>
        </where>
    </select>
    <!--获取用户详情-->
    <select id="getUserInfo" parameterType="com.code.model.GetUserInfoCase" resultType="com.code.model.User">
        <!-- SQL语句 -->
        select * from user where id=#{userId}
    </select>
    <!--获取更新后的数据-->
    <select id="getUpdateUserInfo" parameterType="com.code.model.UpdateUserInfoCase" resultType="com.code.model.User">
        select * from user
        <where>
            <if test='null != userName and "" !=userName'>
                AND userName=#{userName}
            </if>
            <if test='null != sex'>
                AND sex=#{sex}
            </if>
            <if test='null != age'>
                AND age=#{age}
            </if>
            <if test='null != permission'>
                AND permission=#{permission}
            </if>
            <if test='null != isDelete'>
                AND isDelete=#{isDelete}
            </if>
            <if test='null != id'>
                AND id=#{userId}
            </if>
        </where>
    </select>
</mapper>