<component name="libraryTable">
  <library name="spring-boot-starter-jdbc-2.1.7.RELEASE">
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot-starter-jdbc/2.1.7.RELEASE/spring-boot-starter-jdbc-2.1.7.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot-starter-jdbc/2.1.7.RELEASE/spring-boot-starter-jdbc-2.1.7.RELEASE.jar!/" recursive="false" />
  </library>
</component>